body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(14, 15, 22);
  color: rgb(192, 192, 192);

  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.controls {
  height: 15%;

  flex: 0 1 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1 auto;
}

.playground {
  border: 1px solid red;
  background-color: white;

  width: 250px;
  height: 250px;


  display: flex;
  flex-flow: column;
}

.line {
  display: flex;
  

  flex: 1 1 auto;
}

.square {

  flex: 1 1 auto;
  box-shadow: 0 0 3px rgba(91, 101, 114, 0.6);
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.3)
  );
}

.blackSquare {
  background-color: black;
}