body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(14, 15, 22);
  color: rgb(192, 192, 192);
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

/* HEADER */

.header {
  flex: 0 1 auto;

  padding: 10px;
}

.title {
  text-align: center;
  font-weight: 700;
  margin: 0;
}

/* MAIN */

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  flex: 1 1 auto;
}

.controls {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  flex-flow: row wrap;
  gap: 10px;

  flex: 0 1 auto;
}

/* color picker */
input[type="color"] {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  outline: none;
  padding: 0;
  background: none;
  box-sizing: unset;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-moz-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch{
  border:none;
  border-radius: 20px;
}
::-moz-color-swatch{
  border:none;
  border-radius: 20px;
}

button {
  font-family: 'Roboto', sans-serif;
}

.controlBtn {
  height: 40px;
}

.playground {
  border: 1px solid red;
  background-color: white;

  width: 80%;
  aspect-ratio: 1 / 1;


  display: flex;
  flex-flow: column;
}

@media (min-width:700px) {
  .playground {
    width: 25%;
  }
}

.line {
  display: flex;
  

  flex: 1 1 auto;
}

.square {

  flex: 1 1 auto;
  box-shadow: 0 0 3px rgba(91, 101, 114, 0.6);
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.3)
  );
  background-color: white;
  filter: brightness(1);
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 10px;
  
  flex: 0 1 auto;
}